p {
  font-size: 1.1em;
}

div.cmd-list p {
  margin: 5px 0px;
}

.indent {
  padding-left: 10px;
}

div.img-list imagebox p {
  margin: 0px 0px;
}

.cmd-list {
  padding-bottom: 15px;
}
