<div class="container-flex foot bg-light">
  <div class="row justify-content-center">
    This website is currently being developed with Angular and Bootstrap.
  </div>
  <div class="row justify-content-center text-center pb-2">
    <div class="col-xs-2 col-md-3"></div>
    <div class="col">
      <p>Cell</p>
      <p>(352)603-0194</p>
    </div>

    <div class="col">
      <p>Email</p>
      <p>bressetteryan@gmail.com</p>
    </div>

    <div class="col">
      <p>Github</p>
      <a href="https://github.com/RyanB156">github.com/RyanB156</a>
    </div>

    <div class="col">
      <p>LinkedIn</p>
      <a href="www.linkedin.com/in/ryan-bressette-1034a2199">Ryan Bressette</a>
    </div>
    <div class="col-xs-2 col-md-3"></div>
  </div>
  
</div>
