<div class="bg2 section">
  <h2>Tribal Survival</h2>
  <h4>Check out the source on <a href="https://github.com/RyanB156/Tribe">github!</a></h4>

  <p>I started this project as a way to learn how game development works at a low level. I could have made the game using Unity, but I decided I wanted the experience of implementing everything in Windows Forms.</p>
  <h5>Notable Features</h5>
  <ul>
    <li>Advanced AI based on a utility system</li>
    <li>A camera that is centered on the player and moves as the player moves</li>
    <li>Efficient collision detection using an axially aligned bounding box</li>
  </ul>

  <p>I love the idea of a survival game that allows you to work alongside AI allies to survive. Most survival games on the market are single player so I though I would take a crack at creating such a game. Though this project is clearly not ready to be released, it was fun to work on nonetheless. In the early stages I spent countless hours researching AI technologies including basic if-else decision making, finite automata, and decision trees. I finally stumbled upon utility based AI and I fell in love with it.</p>
  <h5>My Utility AI</h5>
  <p>Utility based AI makes decisions based on the needs of each entity. In my game, each decision-making entity like people and animals have a set of needs. These needs increase just like our own needs. In addition, all objects in the game, including people, animals, the home base, trees, rocks, you name it, advertise actions to the decision-making entities. These entities gather all of the advertised actions and pick the one that will fill their needs the most. This choice is made slightly probabilitic by assigning a weight to the top three actions and picking uniformly from them.</p>
  <p>The people in this game have Hunger, Social, Lust, Tiredness, Boredom, JobFullment, and Warmth needs. They all increase over time which forces the person to manage all of their needs. This ensures that each person does not keep repeating Attack or Eat actions. The beauty of this setup is that the actions of each person are determined by changing weights and threshold values instead of hardcoding the decisions. The rate at which the need increases, the view distance, and the reward values for each action can all be modified to get exactly the desired behavior.</p>

  <imagebox src="../../assets/images/tribe/cap1.JPG" maxWidth=500px>
    <p>The blue square holding the spear in the middle is the player. The player can move around the screen using WASD, can pick up items, harvest items from trees, bushes, etc., mate with people of the opposite sex, and attack animals. The house icon represents the home base for the people. It holds the group's items in storage. The type of entity is represented by the color of its square:</p>
    <dl class="row justify-content-center">
      <div class="col">
        <div class="row">
          <dt class="col-sm-4">Blue</dt><dd class="col-sm-8">Male human</dd>
            <dt class="col-sm-4">Purple</dt><dd class="col-sm-8">Female human</dd>
            <dt class="col-sm-4">Pink</dt><dd class="col-sm-8">Pregnant female human</dd>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <dt class="col-sm-4">Tan</dt><dd class="col-sm-8">Goat</dd>
          <dt class="col-sm-4">Grey</dt><dd class="col-sm-8">Wolf</dd>
          <dt class="col-sm-4">Redish Brown</dt><dd class="col-sm-8">Hog</dd>
          <dt class="col-sm-4">Brown</dt><dd class="col-sm-8">Bear</dd>
        </div>
      </div>
      <div class="col-md-5"></div>
    </dl>
    <p>The trees drop apples when harvested by people and the regenerate apples to a maximum of five over time. Every object that is drawn on the screen is advertising an action to the people and animals. For example, the trees advertise an action to harvest them. The apples they drop once harvested advertise actions to pickup the apple and either eat it or deliver it to the home base. The choice of eating the apple or delivering it depends on the person's hunger and job needs.</p>
  </imagebox>

  <imagebox src="../../assets/images/tribe/crafting.JPG" maxWidth=500px>
    Each person has an information menu that can be brought up by clicking on them. It contains information like the name, health, sex, pregnancy state, the needs, the current action and action state, and the current inventory. In this screenshot, the player is holding 5 apples, 1 rock, 1 spear, 2 fiber, and 2 leaves. These can be used to craft items shown in the menu on the left. The boundary wall of the game is shown by the red line. The log and fiber items on the ground can be picked up and used to craft materials or delivered to the home base.
  </imagebox>
  
  <imagebox src="../../assets/images/tribe/hunting.JPG" maxWidth=500px>
    The animals also have needs and select the best action advertised to them based on their needs. In this screenshot, the goats are flocking together because of their social need, while the wolf is attacking them because of its job fulfillment need.
  </imagebox>
  
</div>
