<div>
  <nav class="navbar navbar-expand-sm navbar-light bg1">
    <button class="navbar-toggler" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li routerLinkActive="active" class="nav-item">
          <a routerLink="/home" class="nav-link">Home</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#gameSubmenu" data-toggle="dropdown" aria-expanded="false"
            role="button" aria-haspopup="true" id="gamebarDropdown">Games</a>
          <div class="dropdown-menu" id="gameSubmenu" aria-labelledby="gamebarDropdown">
            <a href="/games/snake" class="dropdown-item">Snake</a>
            <a href="/games/hitmanTS" class="dropdown-item">HitmanTS</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#appSubmenu" data-toggle="dropdown" aria-expanded="false"
            role="button" aria-haspopup="true" id="appbarDropdown">Apps</a>
          <div class="dropdown-menu" id="appSubmenu" aria-labelledby="appbarDropdown">
            <a href="/apps/morsecode" class="dropdown-item">Morse Code</a>
            <a href="/apps/calculator" class="dropdown-item">Calculator</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#projectSubmenu" data-toggle="dropdown" aria-expanded="false"
            role="button" aria-haspopup="true" id="projectbarDropdown">Projects</a>
          <div class="dropdown-menu" id="projectSubmenu" aria-labelledby="projectbarDropdown">
            <a href="/projects/tribe" class="dropdown-item">Tribal Survival</a>
            <a href="/projects/logicsim" class="dropdown-item">Logic Simulator</a>
            <a href="/projects/hitman" class="dropdown-item">Text Based Hitman</a>
          </div>
        </li>


      </ul>
    </div>
    
  </nav>
  
  <div class="body">
    <router-outlet></router-outlet>
  </div>
  <app-footer class="footer"></app-footer>
</div>


<!--
  TODO:
    Learn how to make dynamic accordians with ngFor




-->