<div class="container">
    <div class="row">
        <div class="col-8">
            <canvas id='canvas'>This is a canvas</canvas>
        </div>
        <div class="col-2"></div>
        <div class="col-2 header">
            <h3>Controls</h3>
            <p>WASD or arrow keys to move</p>
            <span>Length: {{this.body.length}}</span>
            <p class="end-msg" *ngIf="!this.running">Game Over</p>
        </div>
        
    </div>
    
</div>
<!--<link rel='stylesheet' type='text/css' href='style.css'>-->