
<div class="cmd-box" #scrollFrame>
  <div class="output-box" *ngFor="let line of outputLines" #line>
    <p>{{line}}</p>
  </div>
  <div class="input-box" id="input-area">
    <label class="prompt-box" for="text-input">{{prompt}}</label>
    <input class="input-text" [(ngModel)]="input" id="text-input" type="text" aria-labelledby="prompt" 
    (keydown.arrowup)="this.upPress($event)" (keydown.arrowdown)="this.downPress($event)"
    (keydown.enter)="this.enterPress($event)" (keydown.tab)="this.tabPress($event)" >
  </div>
</div>
<button class="mb-2" (click)="this.tabPress($event)">Autocomplete</button>
