<div class="bg2 section">
  <h2>Regex</h2>
  <h4>Check out the project on <a href="https://github.com/RyanB156/Regex">github!</a></h4>

  <p>I also started this project due to my love of languages. I love the FParsec parser combinator libray for F# so I decided to make my own in C# and I applied it to regular expressions so I could gain a better understanding of how they function.</p>
  <p>This regex engine supports the common operators like +, *, ?, {{'{m, n}'}}, |, [], etc.</p>
  <p>Currently it does not support capture groups, but this is something I hope to add to this project in the future.</p>

  <imagebox src="../../assets/images/regex/regex1.JPG" maxWidth=250px></imagebox>
  <imagebox src="../../assets/images/regex/regex1result.JPG" maxWidth=100px>Matching digits with the 'one-or-more' operator</imagebox>

  <imagebox src="../../assets/images/regex/regex2.JPG" maxWidth=250px></imagebox>
  <imagebox src="../../assets/images/regex/regex2result.JPG" maxWidth=100px>Matching a choice of characters with the 'one-or-more' operator</imagebox>

  <imagebox src="../../assets/images/regex/regex3.JPG" maxWidth=380px></imagebox>
  <imagebox src="../../assets/images/regex/regex3result.JPG" maxWidth=230px>Matching a gmail email address</imagebox>

  <imagebox src="../../assets/images/regex/regex4.JPG" maxWidth=480px></imagebox>
  <imagebox src="../../assets/images/regex/regex4result.JPG" maxWidth=230px></imagebox>
  <imagebox src="../../assets/images/regex/regex4result2.JPG" maxWidth=230px>Matching a name with an optional middle initial</imagebox>

</div>
