div img {
  max-height: 250px;
  margin-top: 10px;
  padding-right: 15px;
}

div h5 {
  margin-top: 10px;
  margin-bottom: 0.3em;
}

p {
  font-size: 1.1em;
}

li p {
  font-size: 1em;
  margin: 0.3em;
}

dl {
  font-size: 1.1em;
}

dl li {
  font-style: italic;
}

dt {
  font-weight: 0.9;
}