<div class="container-flex">

  <div class="row bg2 section">
    <div class="col-md-3">
      <img src="../../assets/images/mediaimage.jpg" class="rounded">
    </div>
    <div class="col-md-9">
      <h5><strong>Ryan Bressette</strong></h5>
      <p>I am a driven, results-oriented software developer that loves using computers to solve complex problems. I have a stellar work ethic. I do not wait for managers to give me work; I am proactive in finding work to be done. I love learning new things especially when they are related to languages and encoding information. Programming provides the thrill of learning new things with each project and, once it is all over, I have an awesome project that I built myself. For me, that sense of accomplishment is the best feeling in the world.</p>
      <p>I am currently finishing my Bachelor's Degree in Computer Science at Florida Polytechnic University in Lakeland, Florida. I will graduate May 3<sup>rd</sup>. I am moving to North Carolina to Wilmington or Cary depending on where I can find work. I am looking for a software development position to fill my love of learning new things and work on incredible projects to make a difference in the world.</p>
    </div>
  </div>
  

  <div class="section bg2">
    <h2>About Me</h2>
    <p>
      I was born in Leesburg Regional Medical Center and raised in Sumter County Florida. In Elementary school, I was in Safety Patrol, Cub Scouts, and a local soccer club. In Middle school, I was in 4H and FFA. In High school, I was in 4H, FFA, and National Honors Society. I was in the gifted program all 13 years that I was in public school. Right now I am in two clubs that put on harescramble races in the Florida Trail Riders harescramble series.
    </p>
    <p>
      In my 8 years in 4H, I mainly raised and showed a flock of Dorper sheep. I also did dog, steer, photography, and shooting sports projects. I did many hours of community service at 4H Camp Ocala in the Summer as a camp counselor while I was in highschool. My last year I volunteered at the local Boys and Girls Club teaching Python.
    </p>
    <p>
      I graduated from South Sumter High School with honors in Spring 2016. I then went to Lake Sumter State College to get my AA degree. The AP and Dual Enrollment courses I took in high school allowed me to finish my AA in just one year. I was originally going to use the Direct Connect program to transfer to UCF for music education, but I found my love of programming shortly after I graduated high school, so I decided to pursue a Bachelor's of Science at Florida Polytechnic University instead. At Poly my love of computers and programming has grown tenfold and I am ecstatic to be entering the workforce soon and making a difference with my skills.
    </p>
  </div>
  
  <div class="section bg2">
    <h2>Skills</h2>
    <ul>
      <li>
        <h5>Languages</h5>
        <dl class="row">
          <dt class="col-sm-3">C#</dt>
          <dd class="col-sm-9">Since Summer 2017. Personal projects.</dd>

          <dt class="col-sm-3">HTML, CSS, JavaScript</dt>
          <dd class="col-sm-9">Since Fall 2019. Personal projects.</dd>

          <dt class="col-sm-3">C</dt>
          <dd class="col-sm-9">Since Fall 2017. Introduction to Programming, Datastructures, Operating Systems courses.</dd>

          <dt class="col-sm-3">Python</dt>
          <dd class="col-sm-9">Since Fall 2016. Personal and school projects. Taught Python for iDTech in Summer of 2019.</dd>

          <dt class="col-sm-3">Java</dt>
          <dd class="col-sm-9">Since Fall 2018. Programming 2 course. Taught Java for iDTech in Summer of 2019.</dd>

          <dt class="col-sm-3">F#</dt>
          <dd class="col-sm-9">Since Fall 2017. Personal projects, scripting for school projects.</dd>

        </dl>
      </li>
      <li class="heading">
        <h5>Operating Systems</h5>
        <ul>
          <li>Windows</li>
          <li>Ubuntu</li>
        </ul>
      </li>
      <li class="heading">
        <h5>Technologies</h5>
        <ul>
          <li>Windows Forms</li>
          <li>Angular</li>
        </ul>
      </li>
      <li class="heading">
        <h5>Tools</h5>
        <ul>
          <li>Visual Studio</li>
          <li>Android Studio</li>
        </ul>
      </li>
    </ul>
  </div>
  
  <div class="row section bg2">
    <div class="col">
      <h2>Education</h2>
      <ul>
        <li>
          <div>
            <h5>South Sumter Highschool</h5>
            <p>Graduated Spring 2016. Honors</p>
          </div>
        </li>
        <li>
          <div>
            <h5>Lake Sumter State College</h5>
            <p>Associate of Arts</p>
            <p>Graduated Spring 2017</p>
          </div>
        </li>
        <li>
          <div>
            <h5>Florida Polytechnic University</h5>
            <p>Bachelor of Science, Computer Science: Advanced Topics</p>
            <p><strong>Graduating May 2020. 3.97 GPA</strong></p>
          </div>
        </li>
      </ul>
    </div>
    <div class="col">
      <img src="../../assets/images/graduationcap.svg">
    </div>
    <div class="col-lg-3"></div>
  </div>

  <div class="section bg2">
    <h2>Experience</h2>
  
    <!-- TODO: Style the accordion and its panels! -->

    <accordion>
      <panel title="Student Education Assistant | Aug/2018 - present">Provide tutoring and recitation sessions for students in all sections of Physics 1 and 2. Assist physics professors in running their classes. Students that come to me for tutoring see at least a 20% improvement in their grades.</panel>
      <panel title="Student Research Assistant | Nov/2019 - present">Research autonomous vehicles using Remote Operating System (ROS) and the TurtleBot3 platform. My work up to this point has been setting up the robots for Poly and creating a manual for highschool students to follow.</panel>
      <panel title="Overnight Instructor | Jun/2019 - Jul/2019">Taught classes in Java and Python programming with Raspberry PiTops. Supervised campers in my classes throughout the day and at meals. Led fun activities and icebreakers as requested by the camp director.</panel>
    </accordion>

  </div>
  
  
  
  <div class="section bg2">
    <h2>Hobbies</h2>
    <accordion>
      <panel title="Playing music">
        <accordion>
          <panel title="Guitar">
            <p>I have been playing guitar since my Freshman year of Highschool. My dad has played guitar for years and I always listened to him play when I was little. After I came out of a long video game phase I asked him to teach me so he showed me how to play a basic version of the riff from "Smoke on the Water" by Deep Purple. Since then I fell in love with Van Halen, Metallica, White Lion, and Joe Satriani.</p>
            <p>I played at a few talent shows with 4H and at the county fair. I even played at one of my school's pep rallies for their Rock-n-Roll theme. I was in a rock band in Ocala Florida in my senior year. With them I played several gigs in Central Florida and earned some money doing it, so I can say I have been a professional musician.</p>
            <p>My guitar playing has slowed down some since I entered college, but I still pick it up on occasion. My current musical interests are Three Days Grace and Black Veil Brides (courtesy of my girlfriend).</p>
          </panel>
          <panel title="Piano">
            <p>I picked up piano first in the Summer before my freshman year of highschool. I learned by following tutorial videos on YouTube, especially Synthesia videos which is like guitar hero but for piano. Early on in the band there were a few songs that I played where I would use both my guitar and a keyboard, switching back and forth for different parts.</p>
            <p>I do not have anywhere near the repetoire for piano as I do for guitar, but I do enjoy figuring out tunes by ear.</p>
          </panel>
          <panel title="Violin">
            <p>I started learning how to play violin a few years ago. I have always loved the sound of great violin players, especially the vibrato they can produce, but I was hesitant to pick it up because my dad would be unable to teach me.</p>
            <p>Many hours of watching YouTube tutorials, reading the Suzuki books, and three violins later, I am making great progress on learning to play this beautiful instrument.</p>
          </panel>
        </accordion>
      </panel>
      <panel title="Riding dirtbikes">
        <p>My alltime favorite hobby right now is riding dirtbikes. I bought my first bike in Fall 2017 and I have been hooked ever since. It was difficult at first because there was so much to learn all at once, but once I figured it out and whipped myself into shape it has been a lot of fun.</p>
        <p>My favorite type of riding is trail riding, harescrambles, and enduros. In contrast to motocross riding with its high speed and huge jumps, this riding involves exploring nature and riding at my own pace. I enjoy the challenge of riding challenging obstacles in the Croom Motorcycle Area, like big logs and hills that would be difficult, if not impossible to walk up. It is so rewarding to tackle new and challenging obstacles and come out on top, literally.</p>
      </panel>
      <panel title="Programming">
        <p>My very first experience with programming was learning to a game with Batch following a tutorial from YouTube. From then on, I was hooked. Since then, I have learned C#, Python, C, Java, F#, JavaScript, HTML, and CSS. Making games while learning these languages kept things fun and I was always looking forward to the next time I could get behind my computer and get to work.<br><br><strong>Check out the tabs at the top of the page to see what I have been working on!</strong><p>
        </panel>
    </accordion>
  </div>
</div>