<div class="container">
  <div class="row justify-content-center highlights">
    <div class="col-sm-1"></div>
    <div class="col-sm-3">
      <img src="../../assets/images/mediaimage.jpg" class="rounded">
    </div>
    <div class="col-sm-8 bg-light">
      <h5><strong>Ryan Bressette</strong></h5>
      <p>I am a driven, results oriented software developer that loves using computers to solve complex problems. I have a stellar work ethic. I do not wait for managers to give me work; I am proactive in finding work to be done. I love learning new things especially when they are related to languages and encoding information. Programming provides the thrill of learning new things with each project and, once it is all over, I have an awesome project that I built myself. For me, that sense of accomplishment is the best feeling in the world.</p>
      <p>I am currently finishing my Bachelor's Degree in Computer Science at Florida Polytechnic University in Lakeland, Florida. I will graduate May 3<sup>rd</sup>. I am moving to North Carolina to Wilmington or Cary depending on where I can find work. I am looking for a software development position to fill my love of learning new things and work on incredible projects to make a difference in the world.</p>
    </div>
  </div>

    <div class="section bg-light">
      <h2>About Me</h2>
      <p>
        I was born Leesburg Regional Medical Center and raised in Sumter County Florida. In Elementary school, I took part in Cub Scouts and a local soccer club. In Middle school, I was in 4H and FFA. In High school, I was in 4H, FFA, and National Honors Society. I was in the gifted program all 13 years that I was in public school.
      </p>
      <p>
        In my 8 years in 4H, I mainly raised and showed a flock of Dorper sheep. I also did dog, steer, photography, and shooting sports projects. I did many hours of community service at 4H Camp Ocala in the Summer as a camp counselor while I was in highschool. My last year I volunteered at the local Boys and Girls Club teaching Python.
      </p>
      <p>
        I graduated from South Sumter High School with honors in Spring 2016. I then went to Lake Sumter State College to get my AA degree. The AP and Dual Enrollment courses I took in high school allowed me to finish my AA in just one year. I was originally going to use the Direct Connect program to transfer to UCF for music education, but I found my love of programming shortly after I graduated high school, so I decided to pursue a Bachelor's of Science at Florida Polytechnic University instead. At Poly my love of computers and programming has grown tenfold and I am ecstatic to be entering the workforce soon and making a difference with my skills.
      </p>
    </div>
    
    <div class="section bg-light">
      <h2>Skills</h2>
      <ul class="">
        <li>
          <h5>Languages</h5>
          <dl class="row">
            <dt class="col-sm-3">C#</dt>
            <dd class="col-sm-9">Since Summer 2017. Personal projects.</dd>

            <dt class="col-sm-3">HTML</dt>
            <dd class="col-sm-9">Since Fall 2019. Personal projects with HTML, JavaScript, and CSS.</dd>

            <dt class="col-sm-3">JavaScript</dt>
            <dd class="col-sm-9">Since Fall 2019</dd>

            <dt class="col-sm-3">CSS</dt>
            <dd class="col-sm-9">Since Fall 2019</dd>

            <dt class="col-sm-3">C</dt>
            <dd class="col-sm-9">Since Fall 2017. Introduction to Programming, Datastructures, Operating Systems courses.</dd>

            <dt class="col-sm-3">Python</dt>
            <dd class="col-sm-9">Since Fall 2016. Personal and school projects. Taught Python for iDTech in Summer of 2019.</dd>

            <dt class="col-sm-3">Java</dt>
            <dd class="col-sm-9">Since Fall 2018. Programming 2 course. Taught Java for iDTech in Summer of 2019.</dd>

            <dt class="col-sm-3">F#</dt>
            <dd class="col-sm-9">Since Fall 2018. Personal projects, scripting for school projects.</dd>

          </dl>
        </li>
        <li class="heading">
          <h5>Operating Systems</h5>
          <ul>
            <li>Windows</li>
            <li>Ubuntu</li>
          </ul>
        </li>
        <li class="heading">
          <h5>Technologies</h5>
          <ul>
            <li>Windows Forms</li>
            <li>Angular</li>
          </ul>
        </li>
        <li class="heading">
          <h5>Tools</h5>
          <ul>
            <li>Visual Studio</li>
            <li>Android Studio</li>
          </ul>
        </li>
      </ul>
    </div>
    
    <div class="section bg-light">
      <h2>Education</h2>
      <ul>
        <li>
          <div>
            <h5>South Sumter Highschool</h5>
            <p>Graduated Spring 2016. Honors</p>
          </div>
        </li>
        <li>
          <div>
            <h5>Lake Sumter State College</h5>
            <p>Associate of Arts</p>
            <p>Graduated Spring 2017</p>
          </div>
        </li>
        <li>
          <div>
            <h5>Florida Polytechnic University</h5>
            <p>Bachelor of Science, Computer Science: Advanced Topics</p>
            <p><strong>Graduating May 2020. 3.97 GPA</strong></p>
          </div>
        </li>
      </ul>
    </div>
    
    <div class="section bg-light">
      <h2>Experience</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi interdum a quam et blandit. Maecenas diam diam, luctus quis vehicula sed, pellentesque vitae mauris. Suspendisse id dignissim purus. Nam venenatis, leo commodo rutrum lobortis, ligula dui volutpat mauris, eu varius sem purus nec ex. Pellentesque bibendum volutpat augue facilisis ullamcorper. Donec eu eros aliquam massa malesuada ultricies. Praesent sodales mauris sit amet enim tincidunt, sed dictum mauris ultricies. Mauris nibh tellus, commodo ultrices nisi non, pretium lacinia nunc. Etiam mattis, eros a viverra scelerisque, justo sem ornare lectus, eu vestibulum risus quam vel sem. Phasellus ligula neque, egestas at erat quis, sagittis posuere mi. Praesent et nisl at enim dictum finibus eget quis quam. Integer metus justo, porttitor at purus ut, dapibus pulvinar turpis. Etiam at viverra nulla. Vivamus tempus purus non dapibus ultrices. Maecenas at accumsan nibh.
      </p>
    </div>
    
    <div class="section bg-light">
      <h2>Hobbies</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi interdum a quam et blandit. Maecenas diam diam, luctus quis vehicula sed, pellentesque vitae mauris. Suspendisse id dignissim purus. Nam venenatis, leo commodo rutrum lobortis, ligula dui volutpat mauris, eu varius sem purus nec ex. Pellentesque bibendum volutpat augue facilisis ullamcorper. Donec eu eros aliquam massa malesuada ultricies. Praesent sodales mauris sit amet enim tincidunt, sed dictum mauris ultricies. Mauris nibh tellus, commodo ultrices nisi non, pretium lacinia nunc. Etiam mattis, eros a viverra scelerisque, justo sem ornare lectus, eu vestibulum risus quam vel sem. Phasellus ligula neque, egestas at erat quis, sagittis posuere mi. Praesent et nisl at enim dictum finibus eget quis quam. Integer metus justo, porttitor at purus ut, dapibus pulvinar turpis. Etiam at viverra nulla. Vivamus tempus purus non dapibus ultrices. Maecenas at accumsan nibh.
      </p>
    </div>
    
</div>