.panel {
  font-size: 1em;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid gray;
}

.panel-info {
  font-size: 1em;
}

.panel-heading {
  cursor: pointer;
  padding: 2px;
  background-color: #fff;
}

.panel-body {
  font-size: 1em;
  background: white;
  color: black;
  padding: 5px;
}